<div class="jumbotron">
  <div class="container">
  <h2>Ótica Victória</h2>
  <h3>Projeto final Hudson</h3>
   <p>Sistema de controle de compras, clientes e funcionários de ótica</p>
   <p>Este sistema deve auxiliar a Ótica Victoria a ter controle dos funcionários que prestam os mais diversos serviços para a ótica.</p>
   <p>O controle dos produtos a venda, assim como o cadastro de clientes, deve permitir que a Ótica Victória se destaque no mercado</p>
   <p> Permitindo a visualização do histórico de vendas, auxiliando no controle eficaz e permitindo diferentes atendimentos de acordo com o perfil do cliente</p>
<small>Dúvidas, sugestões, envie para: meuemail@gmail.com</small>
</div>
</div>