<div class="row">
  <div class="col-xs-6 col-md-3">
    <a routerLink="/cliente" routerLinkActive="active" class="thumbnail">
      <img src="../assets/img7.png" alt="Clientes">
    </a>
  </div>
   <div class="col-xs-6 col-md-3">
    <a routerLink="/venda" routerLinkActive="active" class="thumbnail">
      <img src="../assets/img3.png" alt="Vendas">
    </a>
  </div>
   <div class="col-xs-6 col-md-3">
    <a routerLink="/produto" routerLinkActive="active" class="thumbnail">
      <img src="../assets/img9.png" alt="Produtos">
    </a>
  </div>
   <div class="col-xs-6 col-md-3">
    <a routerLink="/funcionario" routerLinkActive="active" class="thumbnail">
      <img src="../assets/img13.png" alt="Funcionários">
    </a>
  </div>
</div>
